.header{
    display : flex;
    justify-content: space-between;
}

.header img{
    height : 4rem;
    width : auto;
}

.header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap : 1rem;
    font-weight : 500;
    margin : 1rem 0 0 0;
}